@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string headLabel;
    if(!SignInManager.IsSignedIn(User))
    {
        ViewData["Title"] = "Home Page";
        headLabel = "Welcome to People's Bank";
    }
    else
    {
        ViewData["Title"] = "Logged In";
        headLabel = "People's Bank";
    }

    // add a button/link AND/OR a drop-down list entry on the home page for the "Index" view
    // of every table in the database, by putting the following information for each table in
    // the 2-D string array called allTables:
    //      {"name to display on page", "name of the asp-controller"}
    // then, no need to edit any of the HTML/CSS further down in this code
    string[,] allTables = new string[,] {
                            { "", "Home"},
                            { "Clients", "Clients"},
                            { "Account Types", "AccountTypes"},
                            { "Accounts", "Accounts"},
                            { "Clients rpt", "Clients"},
                            { "Account Types rpt", "AccountTypes"},
                            { "Accounts rpt", "Accounts"},
                            { "Clients rpt2", "Clients"},
                            { "Account Types rpt2", "AccountTypes"},
                            { "Accounts rpt2", "Accounts"},
                            { "Clients rpt3", "Clients"},
                            { "Account Types rpt3", "AccountTypes"},
                            { "Accounts rpt3", "Accounts"},
                            { "Accounts rpt4", "Accounts"},
                            { "Clients rpt4", "Clients"}
						};
						
    int tableNumber = ViewBag.tableNumber ?? 0;
}


<div class="text-center">
    <h1 class="display-4">@headLabel</h1>
    <p>&nbsp;</p>
    @if (!SignInManager.IsSignedIn(User))
    {
        <h2 style="color:rgb(0,0,230)">Login or Register to continue</h2>
    }
    else
    {
        <h2 style="color:rgb(0,160,0)">Logged in: @User.Identity.Name</h2>
        <p>&nbsp;</p>
        <div class="container-fluid">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item mb-3">
                    <button class="btn btn-primary px-0 py-0 fw-bold">
                        <a class="nav-link text-white px-3 py-3"
                           asp-area="" asp-controller="Registrations">New Client & Account</a>
                    </button>
                </li>

                <li class="nav-item">
                    @for (int i = 1; i < allTables.GetLength(0); i++)
                    {
                        <button class="btn btn-secondary px-0 py-0 mb-3">
                            <a class="nav-link text-white px-3 py-2" asp-area=""
                               asp-controller=@allTables[@i, 1]>@allTables[@i, 0]</a>
                        </button>
                        @if (@i % 4 == 0)
                        {
                            <br/>
                        }
						else
						{
                            <span>&nbsp;</span>						
						}
                    }
                </li>
                
                <!--
                <li class="nav-item mb-3">
                    <button class="btn btn-secondary px-0 py-0">
                        <a class="nav-link text-white px-3 py-2"
                           asp-area="" asp-controller="Clients">Clients</a>
                    </button>

                    <button class="btn btn-secondary px-0 py-0">
                        <a class="nav-link text-white px-3 py-2"
                           asp-area="" asp-controller="AccountTypes">Account Types</a>
                    </button>

                    <button class="btn btn-secondary px-0 py-0">
                        <a class="nav-link text-white px-3 py-2"
                           asp-area="" asp-controller="Accounts">Accounts</a>
                    </button>
                </li>
                -->

                <!-- POST url (in select tag): alert(window.location.href + '?table_number=' + this.value) -->
                <li class="nav-item mt-5">
                <form method="post" enctype="multipart/form-data"
                        asp-area="" asp-controller="Home">
                    <label class="control-label mx-auto mb-1">Select Database Table</label>
                    <select name="table_number" id="table_number" class ="form-control w-75 mx-auto"
                            style="max-width:350px" onchange="this.form.submit()">                        
                        <option value=0 selected disabled hidden></option>
                        @for (int i = 1; i < allTables.GetLength(0); i++)
                        {
                            @if (@i == @tableNumber)
                            {
                                <option value=@i selected>@allTables[@i, 0]</option>
                            }
                            else
                            {
                                <option value=@i>@allTables[@i, 0]</option>                                   
                            }
                        }
                    </select>
                </form>

                <span id="newpath" class="d-none">
                    @allTables[@tableNumber, 1]
                </span>
                <button class="btn btn-primary mt-2 px-0 py-0 fw-bold"
                        onclick="newURL=window.location.protocol + '//' + window.location.host + '/'
                                        + document.getElementById('newpath').innerText.trim();
                                 window.location.replace(newURL);">
                    <span class="nav-link text-white px-4 py-1">Go</span>
                </button>
                </li>
            </ul>
        </div>
    }
</div>

<!--
                <button class="btn btn-primary mt-2 px-0 py-0 fw-bold">
                    <a class="nav-link text-white px-4 py-1"
                        asp-area=""
                        asp-controller=@allTables[@tableNumber, 1]>Go</a>
                </button>


                <span id="newpath" class="d-none">
                    @allTables[@tableNumber, 1]
                </span>
                <button class="btn btn-primary mt-2 px-0 py-0 fw-bold"
                        onclick="newURL=window.location.protocol + '//' + window.location.host + '/'
                                        + document.getElementById('newpath').innerText.trim();
                                 window.location.replace(newURL);">
                    <span class="nav-link text-white px-4 py-1">Go</span>
                </button>
-->